html {
  background: #EEE;
}

#map {
  float: left;
  top: 0;
  left: 0;
  width: 800px;
  height: 900px;
}

aside {
  float: left;
  width: 800px;
  height: 900px;
  padding-left: 10px;
}

.hexagon {
  position: absolute;
  width: 100px;
  height: 57.74px;
  margin: 28.87px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  bottom: 100%;
}

.hexagon:after {
  top: 100%;
  width: 0;
}

.lake {
  background-color: dodgerblue;
}

.lake:after {
  border-top: 28.87px solid dodgerblue;
}

.lake:before {
  border-bottom: 28.87px solid dodgerblue;
}

.village {
  background-color: darkred;
}

.village:after {
  border-top: 28.87px solid darkred;
}

.village:before {
  border-bottom: 28.87px solid darkred;
}

.farm {
  background-color: yellow;
}

.farm:after {
  border-top: 28.87px solid yellow;
}

.farm:before {
  border-bottom: 28.87px solid yellow;
}

.tundra {
  background-color: darkslategray;
}

.tundra:after {
  border-top: 28.87px solid darkslategray;
}

.tundra:before {
  border-bottom: 28.87px solid darkslategray;
}

.mountain {
  background-color: gray;
}

.mountain:after {
  border-top: 28.87px solid gray;
}

.mountain:before {
  border-bottom: 28.87px solid gray;
}

.homebase {
  background-color: lightgray;
}

.homebase:after {
  border-top: 28.87px solid lightgray;
}

.homebase:before {
  border-bottom: 28.87px solid lightgray;
}

.factory {
  background-color: purple;
}

.factory:after {
  border-top: 28.87px solid purple;
}

.factory:before {
  border-bottom: 28.87px solid purple;
}

.woods {
  background-color: darkolivegreen;
}

.woods:after {
  border-top: 28.87px solid darkolivegreen;
}

.woods:before {
  border-bottom: 28.87px solid darkolivegreen;
}

.row0 {
  top: 0px;
}

.row1 {
  top: 100px;
}

.row2 {
  top: 200px;
}

.row3 {
  top: 300px;
}

.row4 {
  top: 400px;
}

.row5 {
  top: 500px;
}

.row6 {
  top: 600px;
}

.row7 {
  top: 700px;
}

.row8 {
  top: 800px;
}

.column0-0 {
  left: 0px;
}

.column0-5 {
  left: 50px;
}

.column1-0 {
  left: 100px;
}

.column1-5 {
  left: 150px;
}

.column2-0 {
  left: 200px;
}

.column2-5 {
  left: 250px;
}

.column3-0 {
  left: 300px;
}

.column3-5 {
  left: 350px;
}

.column4-0 {
  left: 400px;
}

.column4-5 {
  left: 450px;
}

.column5-0 {
  left: 500px;
}

.column5-5 {
  left: 550px;
}

.column6-0 {
  left: 600px;
}

.column6-5 {
  left: 650px;
}

.column7-0 {
  left: 700px;
}

.content {
  overflow: hidden;
  width: 100px;
  text-align: center;
}
